body {
  background-color: lightslategray;
}

#header {
  background-image: url(../assets/header.jpg);
  background-size: cover;
  width: auto;
  height: 650px;
  border: white;
}

h1 {
  color:yellow;
  font-size: 150px;
  text-align: left;
  font-family: 'Bungee Shade', cursive;
  padding-bottom: 50px;
}

h2 {
  text-align: center;
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 55px;
}

h3 {
  font-family: 'Lacquer', cursive;
  color: white;
  font-size: 55px;
  text-align: center;
}

h4 {
  font-family: 'Lacquer', cursive;
  color: yellow;
  font-size: 55px;
  text-align: center;
}

.output {
  display: none;
  font-size: 25px;
  font-style: italic;
}


#order {
  font-size: 25px;
  text-align: center;
}

.orderForm {
  display:none;
}

.btn {
  font-size: 25px;
}

.center {
padding-top: 10px;
text-align: center;
}

